<div class="row">
    <div style="display:flex" class="col-12">
        <div class="col-4"></div>
        <div class="col-4">
            <!-- <p>bước 7 khi làm fom coppy   [formGroup]="profileForm"
      (ngSubmit)="handleSubmit()"  </p> -->
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()" action="" method="POST" role="form" action=""
                method="POST" role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">name</label>
                    <input id="name" formControlName="name" name="name" type="text" class="form-control"
                        aria-describedby="emailHelp" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">price</label>
                    <input id="price" formControlName="price" name="price" type="text" class="form-control" placeholder="price">
                </div>
                <button [disabled]="!productForm.valid" type="submit" class="btn btn-primary w-50">Submit</button>
                <button class="btn btn-warning w-50">Đóng lại</button>
            </form>
        </div>
    </div>
</div>