<table class="table">
<thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">categories</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of products ; let i = index "
       app-products
       [input_product]="product"
       [input_i]="i"
      >
         
      </tr>
      </tbody>
</table>